.header {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 0 auto;
}
.header_title {
  text-transform: uppercase;
  align-items: center;
  font-size: 26px;
}

.header_paragraph {
  font-size: 22px;
  color: var(--color-verde1);
}

.texts {
  display: flex;
  /* align-items: start; */
  justify-content: space-evenly;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: end;
}

.header button {
  border: none;
  height: 40px;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  background-color: var(--color-verde1);
  text-transform: uppercase;
  cursor: pointer;
}

.animals_gif {
}

.animal {
  display: flex;
  justify-content: center;
}
