.navbar {
  color: black;
  min-height: 40px;
  min-width: 100%;
  background-color: var(--color-verde1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 10px;
}

.options {
  margin: 10px;
}
