/* Agregando la paleta de colores */

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-gris: #48575e;
  --color-verde1: #b8cf69;
  --color-verde2: #00d977;
  --color-verde3: #2d4a1a;
  --color-negro: #151c15;
}

body {
  background-image: url(https://wallpaperaccess.com/full/452591.jpg);
  background-size: 100%;
  background-color: var(--color-gris);
  color: white;
  min-height: 100vh;
  overflow: hidden;
}

.txt-center {
  text-align: center;
}
