.animal_card {
  width: 280px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-gris);
  margin: 15px;
}

.card_img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-title {
  font-size: 28px;
}

.card-subtitle {
  font-size: 25px;
}
